@model Hakkimizda_RES
@{
    ViewData["Title"] = "HizmetSayfasiDuzenle";
}

<div class="m-content">
    <div class="container-fluid" style="padding-top:20px">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="m-portlet">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h2  style="color:#f5a61f;" class="m-portlet__head-text">
                                    Hizmetler Yönetimi
                                </h2>
                            </div>
                        </div>
                    </div>
                    @if (TempData["Basarili"] != null)
                    {
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                            @TempData["Basarili"].ToString()
                        </div>
                    }

                    @if (TempData["Hata"] != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @TempData["Hata"].ToString()

                        </div>
                    }


                    <!--begin::Form-->
                    @*<a target="_blank" href="~/Client/assets/hakkimizda.txt">Hakkımızda Html Şablonu</a>*@
                
                    <form asp-controller="AnahtarDeger" asp-action="HakkimizdaSayfasiDuzenle" asp-area="Admin" method="post">
                        <div class="m-form m-form--fit m-form--label-align-right">
                            <input type="hidden" asp-for="Hakkimizda_REQ.AnahtarId" />
                            <div class="m-portlet__body">
                                @*<div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3 col-sm-12">Dil</label>
                                    <div class="col-lg-6 col-md-9 col-sm-12">
                                        <p>@Model.Dil</p>
                                    </div>
                                </div>*@
                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3 col-sm-12" style="margin-left:-12.5%;">Kategori Adı</label>
                                    <div class="col-lg-12 col-md-12  col-sm-12">
                                        <textarea asp-for="Hakkimizda_REQ.HakkimizdaIcerik" rows="10" cols="80">
                                            </textarea>
                                        <span asp-validation-for="Hakkimizda_REQ.HakkimizdaIcerik"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__foot m-portlet__foot--fit">
                                <div class="m-form__actions m-form__actions">
                                    <div class="row">
                                        <div class="col-lg-9 ml-lg-auto">
                                            <button type="submit" class="btn btn-info">Kaydet</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!--end::Form-->
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <script>
        var dosyaAdi = "img/genel-resimler";
        $(function () {

            CKEDITOR.replace('Hakkimizda_REQ.HakkimizdaIcerik', {
                customConfig: '/lib/ckeditor/config.js'
            });
        })
    </script>
}