@{
    ViewData["Title"] = "Çözümler";
}
<div class="banner-container">
    <img class="img-fluid" src="~/images/homePage/solutionsBg.png">
    <div class="blueOverlay"></div>
 
        <div class="bannerText">
            Çözümler
        </div>
 
</div>
<div class="container my-5">
    <div class="slick-wrapper">
        <div class="carousel-2">
            <img src="~/images/homePage/tpLink.png" class="img-fluid" />
            <img src="~/images/homePage/infinet.png" />
            <img src="~/images/homePage/Mimosa.png" />
            <img src="~/images/homePage/CNet.png" />
            <img src="~/images/homePage/Ubiquiti.png" />
            <img src="~/images/homePage/Ruijie.png" />
        </div>
    </div>

    <div class="solution">
        <div class="solution-area">
            <div class="container">
                <h2>
                    İhtiyacınıza en uygun <br />çözümü bulalım
                </h2>
            </div>
            <div class="container">
                <div class="row pt-5">
                    <div class="col-md-6">
                        <img src="~/images/homePage/solution1.png" class="img-fluid mb-4" />
                    </div>
                    <div class="col-md-6 d-flex align-items-center mb-4">
                        <div class="title-with-paragraph-solutions pl-3">
                            <h3 class="pb-3">
                                Kurumsal Network Çözümleri
                            </h3>
                            <p class="pb-3">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque metus, arcu mauris nullam in nec in. Feugiat phasellus dui sed curabitur ac nunc ipsum. ipsum dolor sit amet, consectetur adipiscing
                            </p>
                            <img src="~/images/homePage/ruijie-logo.png" class="img-fluid p-3" />
                            <img src="~/images/homePage/Cisco.png" class="img-fluid p-3" />
                            <img src="~/images/homePage/aruba.png" class="img-fluid p-3" />
                            <img src="~/images/homePage/extreme.png" class="img-fluid p-3" />
                        </div>
                    </div>
                </div>
                <div class="row pt-5">
                    <div class="col-md-6 d-flex align-items-center mb-4">
                        <div class="title-with-paragraph-solutions" style=" ">
                            <h3 class="pb-3">
                                Kablosuz Network Çözümleri
                            </h3>
                            <p class="pb-3">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque metus, arcu mauris nullam in nec in. Feugiat phasellus dui sed curabitur ac nunc ipsum. ipsum dolor sit amet, consectetur adipiscing
                            </p>
                            <img src="~/images/homePage/Siklu.png" class="img-fluid p-3" />
                            <img src="~/images/homePage/mimosa-logo.png" class="img-fluid p-3" />
                            <img src="~/images/homePage/Ubiquiti-logo.png" class="img-fluid p-3" />
                            <img src="~/images/homePage/infinet-logo.png" class="img-fluid p-3" />
                            <img src="~/images/homePage/Cambium Networks-logo.png" class="img-fluid p-3" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="~/images/homePage/solution2.png" class="img-fluid mb-4" />
                    </div>
                </div>
                <div class="row pt-5">
                    <div class="col-md-6">
                        <img src="~/images/homePage/solution1.png" class="img-fluid mb-4" />
                    </div>
                    <div class="col-md-6 d-flex align-items-center mb-4">
                        <div class="title-with-paragraph-solutions pl-3">
                            <h3 class="pb-3">
                                SMB Network Çözümleri
                            </h3>
                            <p class="pb-3">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque metus, arcu mauris nullam in nec in. Feugiat phasellus dui sed curabitur ac nunc ipsum. ipsum dolor sit amet, consectetur adipiscing
                            </p>
                            <img src="~/images/homePage/Ubiquiti-logo.png" class="img-fluid p-3" />
                            <img src="~/images/homePage/CNet-logo.png" class="img-fluid p-3" />
                            <img src="~/images/homePage/tplink-logo.png" class="img-fluid p-3" />
                            <img src="~/images/homePage/reyee.png" class="img-fluid p-3" />
                        </div>
                    </div>
                </div>
                <div class="row pt-5">
                    <div class="col-md-6 d-flex align-items-center mb-4">
                        <div class="title-with-paragraph-solutions" style=" ">
                            <h3 class="pb-3">
                                Yazılım Çözümleri
                            </h3>
                            <p class="pb-3">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque metus, arcu mauris nullam in nec in. Feugiat phasellus dui sed curabitur ac nunc ipsum. ipsum dolor sit amet, consectetur adipiscing
                            </p>

                            <img src="~/images/homePage/eset.png" class="img-fluid p-3" />
                            <img src="~/images/homePage/kaspersky.png" class="img-fluid p-3" />
                            <img src="~/images/homePage/manageengine.png" class="img-fluid p-3" />
                        </div>

                    </div>
                    <div class="col-md-6 ">
                        <img src="~/images/homePage/solution2.png" class="img-fluid mb-4" />
                    </div>
                </div>
                <div class="row pt-5">
                    <div class="col-md-6">
                        <img src="~/images/homePage/solution1.png" class="img-fluid mb-4" />
                    </div>
                    <div class="col-md-6 d-flex align-items-center">
                        <div class="title-with-paragraph-solutions pl-3">
                            <h3 class="pb-3">
                                Endüstriyel Network Çözümleri
                            </h3>
                            <p class="pb-3">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque metus, arcu mauris nullam in nec in. Feugiat phasellus dui sed curabitur ac nunc ipsum. ipsum dolor sit amet, consectetur adipiscing
                            </p>
                            <img src="~/images/homePage/ruijie-logo.png" class="img-fluid p-3" />
                            <img src="~/images/homePage/CNet-logo.png" class="img-fluid p-3" />
                            <img src="~/images/homePage/moxa.png" class="img-fluid p-3" />
                            <img src="~/images/homePage/pepline.png" class="img-fluid p-3" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

