
@{
    Layout = null;
}

<div class="slick-wrapper pad">
    <div class="carousel-2 ">
        <img src="~/images/homePage/antalya.jpg" class="img-fluid w-75 ref-img " />
        <img src="~/images/homePage/roma.jpg" class="img-fluid w-75 ref-img " />
        <img src="~/images/homePage/barselona.jpeg" class="img-fluid w-75 ref-img " />
        <img src="~/images/homePage/kapadokya.jpg" class="img-fluid  w-75 ref-img " />
        <img src="~/images/homePage/norvec.jpg" class="img-fluid  w-75 ref-img" />
        <img src="~/images/homePage/maldivler.png" class="img-fluid w-75 ref-img " />
        <img src="~/images/homePage/istanbul.jpg" class="img-fluid w-75 ref-img" />
        <img src="~/images/homePage/bolu.jpg" class="img-fluid w-75 ref-img" />
        <img src="~/images/homePage/bosna.jpg" class="img-fluid  w-75 ref-img" />
        <img src="~/images/homePage/dubai.jpg" class="img-fluid  w-75 ref-img" />

    </div>
</div>
<style>
    .pad {
        padding-left: 8rem;
        padding-right: 8rem;
    }

    .slick-next:before {
        content: '→' !important;
        z-index: initial !important;
        color: black !important;
    }

    .slick-prev:before {
        content: '←' !important;
        z-index: initial !important;
        color: black !important;
        margin-right: 3px;
    }
</style>
