@{
    ViewBag.Title = "Online Satis";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}







<div align="center">
    <img src="logo.jpg" alt="resim"  style="width: 100%;">
    
    <div style="text-align:center">
        Sayfa içeriği en kısa zamanda güncellenecektir.
      
    </div>

</div>