@{
    ViewData["Title"] = "Rederanslar";
}
<div class="banner-container">
    <img class="img-fluid" src="~/images/homePage/aboutUs-banner.png">
    <div class="blueOverlay"></div>
 
        <div class="bannerText">
            Markalarımız
        </div>
 
</div>
<div class="container">
    <div class="referances-container">
        <div class="slick-wrapper">
            <div class="carousel-2">
                <img src="~/images/homePage/Tp-Link-colored.png" />
                <img src="~/images/homePage/infinet-colored.png" />
                <img src="~/images/homePage/Mimosa-colored.png" />
                <img src="~/images/homePage/CNet-colored.png" />
                <img src="~/images/homePage/Ubiquiti-colored.png" />
                <img src="~/images/homePage/Cambium Networks-colored.png" />
            </div>
        </div>
    </div>
</div>


