@{
    ViewData["Title"] = "Hakkımızda";
}
 
<div class="banner-container">
    <img class="img-fluid" src="~/images/homePage/aboutUs-banner.png">
    <div class="blueOverlay"></div>
        <div class="bannerText">
            Hakkımızda
        </div>
</div>





@*solutions*@
<div class="right-solutions">

    <div class="container">
        <div class="site-container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="pb-3">Doğru Çözümler</h2>
                    <p class="right-solution-paragraph">
                        MNS Bilişim, 2005 yılında bilişim sektöründe faaliyete başlamıştır. Kurulduğu günden bugüne yetişmiş uzman kadrosu ile günün teknolojik gelişimini sürekli yakalamaya çalışan, teknolojik ilerlemeye ve yeni teknoloji ürünleri konusunda hızla uzmanlaşan, kesintisiz ve kaliteli hizmet sağlayan, sürekli müşteri memnuniyetini ilke edinen, değişime ve gelişime açık bir şirket olarak yaratıcı ve doğru çözümler sunmak firmanın genel prensibi olmuştur.
                    </p>
                </div>
            </div>
            <div class="row py-5">
                <div class="col-md-6">
                    <div class="online-support mb-5">
                        <div class="title-with-paragraph">
                            <h4>
                                300’den Fazla Proje
                            </h4>
                            <p>
                                Eğitim, seminer, fuar ve bayi toplantıları, konusunda uzman teknik kadro,
                                2 yıl garanti ve telefonda ücretsiz destek.
                            </p>
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="thinker-icon mb-5">
                        <div class="title-with-paragraph">
                            <h4>
                                2500’e Ulaşan Bayi Ağı
                            </h4>
                            <p>
                                Her geçen gün büyüyen dostluklarla aynı heyecan ve aynı amatör ruh ile birlikte yürüyoruz.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

@*about us banner*@
<div class="aboutUs-banner">
    <img src="~/images/homePage/blueBannerBg.PNG" class="w-100   bannerBg">
    <div class="card-img-overlay">
        <img src="~/images/homePage/leftQuote.png" class="position-absolute left-quote">
        <img src="~/images/homePage/rightQuote.png" class="position-absolute right-quote">

        @*<img src="~/images/homePage/rightQuote.png" class="">*@

        <div class="content">
            <h3 class="pb-4">
                Bizden sağlayacağınız en kıymetli hizmet bilgimizdir
                ve en değerli hazine bilgidir.
            </h3>
            <p>
                Felsefesiyle 2005 yılından günümüze yaptığımız her çalışma ve her projede öncelikli hedefimiz doğru, bilgili, çalışan sistem ve memnun müşteri ilkesidir.

                <br /><br />  Bu memnuniyeti verdiğimiz her sözü tutarak, girdiğimiz her projeyi zamanında ve titizlikle tamamlayarak, bayi sistemine inandığımız için bayilerimizi her projede koruyarak ve bilginin en kıymetli sermayemiz olduğu gerçeğini hiç unutmayarak sağlamaya özen gösterdik.

            </p>
        </div>
    </div>
</div>

@*vision and mission*@
<div class="vission-misson">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="~/images/homePage/solution1.png" class="img-fluid mb-4" />
            </div>
            <div class="col-md-6 d-flex align-items-center mb-4">
                <div class="title-with-paragraph-solutions pl-3">
                    <h3 class="pb-3">
                        Hedefimiz
                    </h3>
                    <p class="pb-3">
                        Hedefimiz çağa ayak uydurmakla kalmayarak, aynı eksende sisteme dahil olmak, bu prensiple her yenilikte ve yeni teknolojik gelişmede bilgi açısından kendimizi sizin için ve gelecek için hazır bulundurmak.

                        <br /> <br /> Son yıllarda hızla gelişen kablosuz ağ sektöründe UBNT (Ubiquiti Networks), Mimosa Networks, Cambium Networks, CNet, Infinet ve Siklu ürünleriyle sektörde hızlı, güvenilir çözümleriyle büyük projelere imza atmıştır.

                        <br /> <br />  Yeni teknolojileriyle hızla ayak uydurmayı ilke edinmiş yapısıyla MNS Bilişim ailesi olarak her alanda sizlere en doğru ve en hızlı bir şekilde hizmet götürmeyi amaç edindik.
                        Kablosuz Ağ Sistemleri sektöründe birçok proje MNS Bilişim imzası taşır. Kalemimiz kaliteli, imzamız yapabileceklerimizin teminatıdır.
                    </p>

                </div>
            </div>
        </div>
        <div class="row pt-5">

            <div class="col-md-6 d-flex align-items-center mb-4">
                <div class="title-with-paragraph-solutions" >
                    <h3 class="pb-3">
                        Vizyon & Misyon
                    </h3>
                    <p class="pb-3">
                        Bilişim sektöründe subdistribütörü ve dağıtıcısı olduğumuz markaların geniş ürün yelpazelerini satış öncesi ve satış sonrası hizmet kalitesi sürekli arttırarak sunabilen ve tercih edilen katma değerli tedarikçi olabilmek.

                        <br /> <br />   Müşterilerimiz ile güçlü iş ortaklıkları kurmak, dağıtım ağımızı genişletmek ve geliştirmek, insan kaynağımızı ve teknolojik altyapımızı güçlendirmek, kurumsal yönetim ilkelerini  benimsemek, çalışan ve müşteri memnuniyetini en üst düzeye çıkarmak.
                    </p>
                </div>

            </div>
            <div class="col-md-6">
                <img src="~/images/homePage/solution1.png" class="img-fluid" />
            </div>
        </div>
    </div>
</div>

 