@{
    ViewData["Title"] = "KMZ Rehberi";
}
<div class="banner-container">
    <img class="img-fluid" src="~/images/homePage/blogBg.png">
    <div class="blueOverlay"></div>
 
        <div class="bannerText" style="bottom:36%; font-size:3rem">
            KMZ Dosyası Oluşturma <br />
            Rehberi
        </div>
   
</div>

<div class="container">
    <div class="Kmz-steps">
        <div class="steps p-4">
            <h4 class="pb-3 site-color">1. Adım</h4>
            <h4 class="step-title pb-3">Google Earth Programı</h4>
            <p class="step-paragraph pb-4">
                Noktadan noktaya veya noktadan çok noktaya projelerinde aradaki mesafenin net ölçümü, net görüşün olup olmaması gibi konularda kmz dosyasına ihtiyaç duyulmakta. Bunun için öncelikle aşağıdaki bağlantıdan Google Earth programını indirmemiz gerekmekte.
            <p class="step-link">
                Link:  <a target="_blank" href="https://www.google.com.tr/intl/tr/earth/download/gep/agree.html" class="site-color"> https://www.google.com.tr/intl/tr/earth/download/gep/agree.html </a>
            </p>
        </div>
        <div class="steps p-4">
            <h4 class="pb-3 site-color">2. Adım</h4>
            <h4 class="step-title pb-3">Klasör Oluşturma</h4>
            <p class="step-paragraph pb-4">
                Programı açıktan sonra sol tarafta bulunan yerlerim bölümünden kendinize bir klasör oluşturun.
            </p>
            <img src="~/images/homePage/2adim.png" class="img-fluid" />
        </div>
        <div class="steps p-4">
            <h4 class="pb-3 site-color">3. Adım</h4>
            <h4 class="step-title pb-3">Yer İşaretcisi Ekleme</h4>
            <p class="step-paragraph pb-4">
                Ardından haritada belirkediğimiz noktalara yer işaretçisi yerleştiriyoruz. Yerleştirdiğimiz yer işaretlerinin az önce oluşturduğumuz klasör içinde yer almış olmasına dikkat edin. Aşağıdaki gibi gözükmesi gerekmekte.
            </p>
            <img src="~/images/homePage/3adim.png" class="img-fluid" />
        </div>
        <div class="steps p-4">
            <h4 class="pb-3 site-color">4. Adım</h4>
            <h4 class="step-title pb-3">Kaydetme ve iletme</h4>
            <p class="step-paragraph pb-4">
                Tüm noktaların işaretlemesi bittikten sonra klasör üzerinde sağ tıklayıp farklı kaydet diyoruz.
            </p>
            <img src="~/images/homePage/4adim.png" class="img-fluid pb-3" />
            <img src="~/images/homePage/4adimB.png" class="img-fluid pb-3" />
            <p class="site-color py-5" style="font-weight:700">
                Dosyayı .kmz olarak kaydettikten sonra bize mail yoluyla iletin.
            </p>
        </div>
    </div>
</div>