
@{
   
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <!-- PAGE TITLE -->
    <title>FiveN</title>
    <link rel="icon" type="image/png" href="~/Client/assets/img/logo1.png" sizes="32x32">
    <link rel="icon" type="image/png" href="~/Client/assets/img/logo1.png" sizes="16x16">

</head>


<body>




    <section id="y-single_info">
        <div class="y-single_info">
            <div class="container" style="margin-top:-7%; background-color:white; height:400px;">
                <div class="row margin-to y-section_content" style="margin-left:15px; margin-right:15px;">

                    <div class="col-sm-12 clearfix">
                        <div class="y-corporate_block clearfix">
                            <div class=" yaziaraligi">
                                <br />
                                <h3 style="color: rgb(245, 166, 31);">Bloglar</h3>
                                <p style="text-align:center; font-size:22px; line-height:250px; color:#6f6f6f; ">@Localizer["blog-yakinda"]</p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </section>



    @*<div style="text-align:center; font-size:18px; line-height:500px;">
            Online Satış Mağazamız Yakında...

        </div>*@



</body>


</html>