@model IletisimViewModel
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<footer class="footer ">
    <div class="container my-5">
        <div class="row">
            <div class="col-md-3">
                <img src="~/images/homePage/travel.jpg" class="img-fluid" alt="">

            </div>
            <div class="col-md-5 pb-5 mt-4">
                <h4 class="title-dark-blue pb-3">
                    Bizimle İletişime Geçin
                </h4>
                <div class="footer-phone">
                    <p>
                        @Model.TelefonNo
                    </p>
                </div>
                <div class="footer-location">
                    <p>
                       @Model.Adres
                    </p>
                </div>


            </div>
            <div class="col-md-4 pb-4 mt-4">
                <h4 class="title-dark-blue pb-3">
                    Bizi Takip Edin
                </h4>
                <p class="pb-3">
                    Turlarımıza ilişkin güncel haberler için bizi sosyal medya hesaplarımızdan takip edin.
                </p>
                <div class="footer-social-media">
                    <a href="" class="facebook">
                        <img src="~/images/homePage/facebook.png" />
                    </a>
                    <a href="#" class="twitter">
                        <img src="~/images/homePage/twitter.png" />
                    </a>
                    <a href="#" class="instagram">
                        <img src="~/images/homePage/instagram.png" />

                    </a>
                    <a href="#" class="linkedin">
                        <img src="~/images/homePage/linkedin.png" />

                    </a>
                    <a href="#" class="youtube">
                        <img src="~/images/homePage/youtube.png" />

                    </a>
                </div>
            </div>
        </div>
    </div>


    @*copyright-section*@
    <div class="border-top py-4 ">
        <div class="container text-center text-center">
            &copy; 2021 - <span class="copyright-mns">EGT</span>  Tüm Hakları Saklıdır.
        </div>
    </div>

</footer>

@*<link rel="stylesheet" href="~/Client/assets/css/site.css" />

    etDeğişimmodel IletisimViewModel
    etDeğişim*<div class="referanslarSlick mb-4">
            etDeğişimforeach (var referans in (List<Referans>)ViewBag.referans)
            {
                <div class="my-5 my-sm-0 p-2 p-sm-2 p-md-2 p-lg-4">
                    <div class="footerReferansLogo p-2 p-sm-2 p-md-2 p-lg-4">
                        <img class="img-fluid mx-auto" src="etDeğişimreferans.Resim" />
                    </div>
                </div>
            }
        </div>*etDeğişim


    <footer class="footer ">
        <div class="container my-5">
            <div class="row">
                <div class="col-md-3">
                    <img src="~/images/homePage/Logo.png" class="img-fluid" alt="">

                </div>
                <div class="col-md-5 pb-5">
                    <h4 class="title-dark-blue pb-3">
                        Bizimle İletişime Geçin
                    </h4>
                    <div class="footer-location">
                        <p>
                            etDeğişimModel.Adres
                        </p>
                    </div>
                    <div class="footer-phone">
                        <p>
                            etDeğişimModel.TelefonNo

                        </p>
                    </div>

                </div>
                <div class="col-md-4 pb-4">
                    <h4 class="title-dark-blue pb-3">
                        Bizi Takip Edin
                    </h4>
                    <p class="pb-3">
                        MNS Bilişime ilişkin güncel haberler için bizi sosyal medya hesaplarımızdan takip edin.
                    </p>
                    <div class="footer-social-media">
                        <a href="#" class="facebook">
                            <img src="~/images/homePage/facebook.png" />
                        </a>
                        <a href="#" class="twitter">
                            <img src="~/images/homePage/twitter.png" />
                        </a>
                        <a href="#" class="instagram">
                            <img src="~/images/homePage/instagram.png" />

                        </a>
                        <a href="#" class="linkedin">
                            <img src="~/images/homePage/linkedin.png" />

                        </a>
                        <a href="#" class="youtube">
                            <img src="~/images/homePage/youtube.png" />

                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-top py-4 ">
        <div class="container text-center text-center">
            © 2021 - <span class="copyright-mns">MNS Bilişim.</span>  Tüm Hakları Saklıdır.
        </div>
    </div>
    </footer>*@
