
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}







@foreach (var resim in (List<SliderResim>)ViewBag.banner)
{
    <img src="@resim.ResimUrl" style="width:100%" alt="@resim.UstBaslik" />
}
<section id="y-single_info">
    <div class="y-single_info">
        <div class="container">
            <div class="row margin-to y-section_content">

                <div class="col-sm-12 clearfix">
                    <div class="y-corporate_block clearfix">
                        <div class=" yaziaraligi">
                            <br />
                            @(Html.Raw(ViewBag.Sorular))
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>







@section scripts {
    <!-- JQUERY:: COUNTER.JS -->
    <script type="text/javascript" src="~/Client/assets/js/waypoints.min.js"></script>
    <script type="text/javascript" src="~/Client/assets/js/jquery.counterup.min.js"></script>

    <script type='text/javascript' src='~/Client/assets/js/jquery.easing.1.3.js'></script>
    <script type='text/javascript' src='~/Client/assets/js/camera.min.js'></script>

}
<style>
    .links a {
        display: block;
        color: #fff;
        font-weight: 300;
        text-align: center;
        height: 240px;
        font-size: 17pt;
        padding-top: 105px;
    }

    .tab-pane {
        min-height: 400px;
        color: black;
    }
</style>

