
<div class="banner-container">
    <img class="img-fluid site-ust-banner" src="~/images/homePage/contactBg.png">
    <div class="blueOverlay"></div>

    <div class="bannerText">
       Sayfa Bulunamadı !
    </div>

</div>