@{
    ViewData["Title"] = "iletişim";
}
<style>
    .kmz-logo img {
        cursor: pointer;
        position: fixed;
        right: 0;
        top: 70%;
        z-index: 100;
        width: 7rem;
    }
</style>
<div class="banner-container">
    <img class="img-fluid" src="~/images/homePage/contactBg.png">
    <div class="blueOverlay"></div>
 
        <div class="bannerText">
            İletişim
        </div>
 
</div>

<div class="right-solutions">
    <div class="kmz-logo text-center">
        <a asp-controller="KMZGuide" asp-action="index" class="blue-links" >
            <img src="~/images/homePage/kmz.png" class="img-fluid"  data-toggle="tooltip" data-placement="left" title="KMZ Dosyası Oluşturma
Rehberi"/>
        </a>
    </div>
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h2 class="pb-3">7/24 Destek</h2>
                <p class="right-solution-paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque metus, arcu mauris nullam in nec in. Feugiat phasellus dui sed curabitur ac nunc ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque metus, arcu mauris nullam in nec in. Feugiat phasellus dui sed curabitur ac nunc ipsum.

                </p>


            </div>
        </div>
        <div class="row py-5">
            <div class="col-md-6 mb-5">
                <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3008.002914947352!2d28.998069215415928!3d41.06892892929466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab6fc3cc0d3c5%3A0x62e70693c5e9fcab!2sMns%20Information!5e0!3m2!1sen!2str!4v1633769988985!5m2!1sen!2str" width="550" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="col-md-5 offset-1">
                <div class="blue-phone mb-5">
                    <div class="title-with-paragraph">
                        <h4>
                            Telefon
                        </h4>
                        <p>
                            +90 0555 555 55 55
                        </p>
                    </div>
                </div>
                <div class="yellow-email mb-5">
                    <div class="title-with-paragraph">
                        <h4>
                            Mail
                        </h4>
                        <p>
                            hello@mnsbilisim.com
                        </p>
                    </div>
                </div>
                <div class="purple-location mb-5">
                    <div class="title-with-paragraph">
                        <h4>
                            Adres
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque metus, arcu mauris nullam in nec in. Feugiat phasellus dui sed curabitur ac nunc ipsum.
                        </p>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>